<header class="app-header">
  <p class="app-title">とっとく？</p>

  <!-- ハンバーガーアイコン -->
  <div id="menu-toggle">
    <%= inline_svg_tag 'icons/menu.svg', class: 'menu-icon' %>
  </div>

  <!-- ドロップダウンメニュー -->
  <nav id="hamburger-menu" class="hamburger-menu hidden">
    <div class="side-menu-header">
      <p class="app-title">とっとく？</p>
      <div id="menu-close" class="menu-close-btn" aria-label="メニューを閉じる">
        <%= inline_svg_tag 'icons/close.svg', class: 'menu-icon' %>
      </div>
    </div>
    
    <%= link_to home_path, class: "menu-item" do %>
      <%= inline_svg_tag 'icons/add.svg', class: 'menu-icon' %>
      <div class="menu-text-content">
        <p class="text-l">書類を追加<p>
        <p class="bodysm-s">新しい書類を追加登録します</p>
      </div>
    <% end %>

    <%= link_to documents_path, class: "menu-item" do %>
      <%= inline_svg_tag 'icons/list.svg', class: 'menu-icon' %>
      <div class="menu-text-content">
        <p class="text-l">書類一覧</p>
        <p class="bodysm-s">登録した書類を確認できます</p>
      </div>
    <% end %>

    <%= link_to mypage_path, class: "menu-item" do %>
      <%= inline_svg_tag 'icons/mypage.svg', class: 'menu-icon' %>
      <div class="menu-text-content">
        <p class="text-l">マイページ</p>
        <p class="bodysm-s">プロフィールを確認</p>
      </div>
    <% end %>

    <%= link_to logout_path, method: :delete, data: { confirm: 'ログアウトしますか？' }, class: "menu-item" do %>
      <%= inline_svg_tag 'icons/logout.svg', class: 'menu-icon' %>
      <div class="menu-text-content">
        <p class="text-l">ログアウト</p>
        <p class="bodysm-s">ログイン状態を解除します</p>
      </div>
    <% end %>

  </nav>
</header>

<main class="app-main">
  <p class="subtitlemd">マイページ</p>

  <%= form_with model: @user, url: user_path(@user), method: :patch, local: true do |form| %>
    <div class="form-group">
      <%= form.label :name, "ユーザー名：" %>
      <%= form.text_field :name, class: 'form-control input-field' %>
    </div>
    
    <p class="bodysm">
      メールアドレス： <%= @user.email %>
    </p>

    <div class="btn-l">
      <%= form.submit "プロファイルを編集する", class: 'btn' %>
      <%= link_to "ホームに戻る", home_path, class: 'btn' %>
    </div>
  <% end %> 
</main>

<footer class="app-footer">
  <p>© 2025 Tottoku</p>
</footer>