<%= render "header" %>

<main class="app-main">
  <p class="titlelg">とっとく？</p>

  <p class="subtitlemd subtitlemd04">ようこそ、<%= current_user.name %> さん！</p>
  <p class="bodysm" style="margin: 16px">書類の名前を入力すると、保管が必要かどうかをAIが判断します</p>

  <%= form_with model: @document, url: documents_path, local: false, do |form| %>
    <div class="form-group">
      <%= form.label :title, "書類名を入力：" %>
      <%= form.text_field :title, class: 'input-field' %>
      <p class="bodysm-s">できるだけ具体的に記入してください</p>
    </div>

    <div class="btn-l btn-btm">
      <%= form.submit "入力して判定する", class: 'btn' %>
    </div>
  <% end %>
</main>

<footer class="app-footer">
  <p>© 2025 Tottoku</p>
</footer>

<% if @document && @document.errors.any? %>
  <div class="error-box">
    <p class="bodysm"><%= pluralize(@document.errors.count, "エラー") %>があります:</p>
    <ul>
      <% @document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>