<%= render "header" %>

<main class="app-main">
  <p class="titlelg">とっとく？</p>

  <p class="subtitlemd subtitlemd04">ようこそ、<%= current_user.name %> さん！</p>
  <p class="bodysm" style="margin: 16px">書類の名前を入力すると、保管が必要かどうかをAIが判断します</p>

  <%= form_with model: @document, url: documents_path, local: true, data: { turbo: false }  do |form| %>
    
    <% if flash[:alert] %>
      <div class="error-flash closeable-error" id="home-flash">
        <button type="button" id="close-home-flash" class="close-btn">×</button>
        <ul>
          <% flash.each do |key, message| %>
            <li><%= flash[:alert] %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :title, "書類名を入力：" %>
      <%= form.text_field :title, class: 'input-field' %>
      <p class="bodysm-s">できるだけ具体的に記入してください</p>
    </div>

    <div class="btn-l btn-btm">
      <%= form.submit "入力して判定する", class: 'btn' %>
    </div>
  <% end %>
</main>

<footer class="app-footer">
  <p>© 2025 Tottoku</p>
</footer>