<h1>書類をアップロード</h1>

<%= form_with model: @document, data: { turbo: false } do |form| %>

  <div>
    <%= form.label :title, "書類名" %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.submit "入力して判定する" %>
  </div>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> が見つかりました:</h2>
      <ul>
        <% @document.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>