<div class="app-container">
  <%= render "header" %>

  <main class="app-main">
    <%= render "shared/flash_errors", object: @document %>
  
    <p class="subtitlemd">書類の内容を見る</p>
    <div class="info">
      <p class="bodysm">
        書類名：<%= @document.title %>
      </p>
      <p class="bodysm">
        登録日時：<%= @document.created_at.in_time_zone('Asia/Tokyo').strftime("%Y/%m/%d %H:%M") %>
      </p>
    </div>
    <p class="bodysm">
     更新日時：<%= @document.updated_at.in_time_zone('Asia/Tokyo').strftime("%Y/%m/%d %H:%M") %>
    </p>

    <%= render "tabs" %>

    <div class="btn-irreg">
      <%= link_to "書類一覧へ", documents_path,
      class: "btn" %>
      <%= link_to "ホームに戻る", home_path,
      class: "btn" %>
    </div>
    <%= link_to "削除する", document_path(@document),
      method: :delete,
      data: { confirm: "この書類を削除しますか？" },
      class: "btn-danger" %>
  </main>

  <footer class="app-footer">
    <p>© 2025 Tottoku</p>
  </footer>
</div>